{% extends "layout/base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/home.css" />
  <section class="enlaces-frecuentes">
    <h2>Enlaces frecuentes</h2>
    <div class="enlaces-grid">
      <a href="https://web.whatsapp.com/" class="enlace-item" target="_blank" rel="noopener noreferrer">Whatsapp</a>
    </div>
  </section>
    <section class="enlaces-frecuentes">
    <h2>Enlaces Frecuentes 2</h2>
    <div class="enlaces-grid">
      <a href="https://youtube.com" class="enlace-item" target="_blank" rel="noopener noreferrer">Youtube</a>
    </div>
  </section>
    <section class="enlaces-frecuentes">
    <h2>Enlaces Frecuentes 3</h2>
    <div class="enlaces-grid">
      <a href="https://www.facebook.com/" class="enlace-item" target="_blank" rel="noopener noreferrer">Facebook</a>
    </div>
  </section>
    <section class="enlaces-frecuentes">
    <h2>Enlaces frecuentes 4</h2>
    <div class="enlaces-grid">
      <a href="https://google.com" class="enlace-item" target="_blank" rel="noopener noreferrer">Google</a>

  </section>





{% endblock %}
